datasets/*.json filter=lfs diff=lfs merge=lfs -text
datasets/dwipada_augmented_dataset.json filter=lfs diff=lfs merge=lfs -text
train_models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
train_models/**/*.pt filter=lfs diff=lfs merge=lfs -text
train_models/**/*.bin filter=lfs diff=lfs merge=lfs -text
train_models/**/*.jsonl filter=lfs diff=lfs merge=lfs -text
train_models/**/*.json filter=lfs diff=lfs merge=lfs -text
dataset_validation_scripts/checkpoints/*.json filter=lfs diff=lfs merge=lfs -text
